*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.logo{
    width: 150px;
    border-radius: 250px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
nav ul li{
    display: inline-block;
    margin-right: 50px;
}
ul li a{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}